.profile__info {
  display: flex;
  justify-content: space-between;
  max-width: 370px;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .profile__info {
    max-width: 260px;
    margin-top: 25px;
  }
}
