.profile__edit-button {
  align-self: center;
  border: 1px solid #ffffff;
  background-image: url(../../../images/Edit.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 18px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .profile__edit-button {
    max-width: 320px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
.profile__edit-button:hover {
  opacity: 0.6;
}
