.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 650px) {
  .profile__title {
    max-width: 320px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
