.place__button-delete {
  position: absolute;
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url(../../../images/Delite.svg);
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: var(--button-transition);
}

.place__button-delete:hover {
  opacity: 60%;
}
